<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNg Suite" parallel="methods" thread-count="1" >

    <test name="hw1">

        <classes>
            <class name="hw1.testSiteBrowserInteractionTestHardAsserts"/>
            <class name="hw1.testSiteBrowserInteractionTestSoftAsserts"/>
        </classes>

    </test>

</suite>
